main{
    padding: 16px;
}
img{
    height: 200px;
}

footer{
    padding: 24px 0px 24px 0px;
    background-color: #b5d066;
}

nav {
    border: 0px;
    padding: 20px;
    background-color: orangered;

}
nav a{
    text-decoration: none ;
    color: white;
    font-size:20px
}
body {
    margin: 0px;
    padding: 0px;
}
#footer_div{
    padding-left: 30px;

}
h1{
    color:green;
}
h3 a{
    color:#98ba32 ;
    text-decoration: none;
    text-shadow: #FC0 1px 0 10px;
}
.taco_div{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 1em;
    grid-row-gap:0.5em;

}
.table_div tr:nth-child(even){

    background-color: lightgrey;
}
